<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Cyber Kids</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="{% static 'admin/vendors/simple-line-icons/css/simple-line-icons.css' %}">
    <link rel="stylesheet" href="{% static 'admin/vendors/flag-icon-css/css/flag-icon.min.css' %}">
    <link rel="stylesheet" href="{% static 'admin/vendors/css/vendor.bundle.base.css' %}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="{% static 'admin/vendors/daterangepicker/daterangepicker.css' %}">
    <link rel="stylesheet" href="{% static 'admin/vendors/chartist/chartist.min.css' %}">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="{% static 'admin/css/style.css' %}">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="{% static 'admin/images/favicon.png' %}" />
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:partials/_navbar.html -->
      <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="navbar-brand-wrapper d-flex align-items-center">
          <a class="navbar-brand brand-logo" href="{% url 'admin_dashboard' %}">
            <!-- <img src="images/logo.svg" alt="logo" class="logo-dark" /> -->
            <h3 class="text-white">Cyber Kids</h3>
          </a>
          <a class="navbar-brand brand-logo-mini" href="{% url 'admin_dashboard' %}"><img src="{% static 'admin/images/logo-mini.svg' %}" alt="logo" /></a>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-center flex-grow-1">
          <h5 class="mb-0 font-weight-medium d-none d-lg-flex">Feedback Management</h5>
          <ul class="navbar-nav navbar-nav-right ml-auto">
            <li class="nav-item dropdown language-dropdown d-none d-sm-flex align-items-center">
             
              
            </li>
            <li class="nav-item dropdown d-none d-xl-inline-flex user-dropdown">
              <a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                <img class="img-xs rounded-circle ml-2" src="{% static 'admin/images/faces/face8.jpg' %}" alt="Profile image"> <span class="font-weight-normal"> Administrator </span></a>
              <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
                <div class="dropdown-header text-center">
                  <img class="img-md rounded-circle" src="{% static 'admin/images/faces/face8.jpg' %}" alt="Profile image">
                  <p class="mb-1 mt-3">Admin</p>
                  <p class="font-weight-light text-muted mb-0">projects@edugenetechnologies.in</p>
                </div>
                
                <a href="{% url 'admin_logout' %}" class="dropdown-item"><i class="dropdown-item-icon icon-power text-primary"></i>Sign Out</a>
              </div>
            </li>
          </ul>
          <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
            <span class="icon-menu"></span>
          </button>
        </div>
      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav">
            <li class="nav-item nav-category">
              <span class="nav-link">Dashboard</span>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'admin_dashboard' %}">
                <span class="menu-title">Dashboard</span>
                <i class="icon-screen-desktop menu-icon"></i>
              </a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#users" aria-expanded="false" aria-controls="ui-basic">
                      <span class="menu-title">User Management</span>
                      <i class="icon-user menu-icon"></i>
                    </a>
                    <div class="collapse" id="users">
                      <ul class="nav flex-column sub-menu">
                        <li class="nav-item"> <a class="nav-link" href="{% url 'user_details' %}">User Details</a></li>
                      </ul>
                    </div>
            </li>
            <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#gameMan" aria-expanded="false" aria-controls="ui-basic">
                      <span class="menu-title">Game Management</span>
                      <i class="icon-game-controller menu-icon"></i> 
                    </a>
                    <div class="collapse" id="gameMan">
                      <ul class="nav flex-column sub-menu">
                        <li class="nav-item"> <a class="nav-link" href="{% url 'add_game' %}">Add Game</a></li>
                        <li class="nav-item"> <a class="nav-link" href="{% url 'manage_games' %}">Manage Games</a></li>
                        <li class="nav-item"> <a class="nav-link" href="{% url 'add_questions' %}">Add Questions to Game</a></li>
                        <li class="nav-item"> <a class="nav-link" href="{% url 'manage_questions' %}">Manage Questions to Game</a></li>

                      </ul>
                    </div>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#cyber-kids" aria-expanded="false" aria-controls="ui-basic">
                      <span class="menu-title">Cyber Kids Management</span>
                      <i class="icon-people menu-icon"></i></i>
                    </a>
                    <div class="collapse" id="cyber-kids">
                      <ul class="nav flex-column sub-menu">
                        <li class="nav-item"> <a class="nav-link" href="{% url 'cyber_kids_analysis' %}">Cyber kids Analysis</a></li>
                      </ul>
                    </div>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'feedback_management' %}">
                      <span class="menu-title">Feedback Management</span>
                      <i class="icon-speech menu-icon"></i>
                    </a>
                  </li>
          </ul>
        </nav>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
                    <div class="col-lg-12 grid-margin stretch-card">
                              <div class="card">
                                <div class="card-body">
                                  <h4 class="card-title">Feedback Management</h4>
                                  <p class="card-description"></code>
                                  </p>
                                  <table class="table table-striped">
                                    <thead>
                                      <tr class="text-center">
                                        {% comment %} <th> User </th> {% endcomment %}
                                        <th> Name </th>
                                        <th> Feedback </th>
                                        <th> Sentiment  </th>
                                        <th> Emoji </th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      {% for feedback in feedback %}
                                      <tr class="text-center">
                                        {% comment %} <td class="py-1">
                                          <img src="/media/{{feedback.user.user_prifile}}" alt="image" />
                                        </td> {% endcomment %}
                                        <td>{{feedback.user.user_name}}</td>
                                        <td>
                                          <textarea name="" id="" cols="30" rows="7" readonly>{{feedback.feedback}}
                                          </textarea>
                                        </td>
                                        <td>{{feedback.sentiment}}</td>
                                        <td>
                                          {% if feedback.sentiment == 'Very Positive' %}
                                          <img src="{% static 'admin/images/faces/very_positive.png' %}" alt="">
                                          {% endif %}
                                          {% if feedback.sentiment == 'Positive' %}
                                          <img src="{% static 'admin/images/faces/positive.png' %}" alt="">
                                          {% endif %}
                                          {% if feedback.sentiment == 'Negitive' %}
                                          <img src="{% static 'admin/images/faces/Negetive.png' %}" alt="">
                                          {% endif %}
                                          {% if feedback.sentiment == 'Very Negitive' %}
                                          <img src="{% static 'admin/images/faces/very_Negetive.png' %}" alt="">
                                          {% endif %}
                                          {% if feedback.sentiment == 'Neutral' %}
                                          <img src="{% static 'admin/images/faces/Nutral.png' %}" alt="">
                                          {% endif %}
                                        </td>
                                      </tr>
                                      {% endfor %}
                                    </tbody>
                                  </table>
                                  <nav aria-label="Page navigation example" class="mt-5">
                                    <ul class="pagination ml-2">
                                        {% if feedback.has_previous %}
                                            <!-- <li class="page-item"><a class="page-link" href="?page=1">&laquo; First</a></li> -->
                                            <li class="page-item"><a class="page-link bg-info text-white" href="?page={{ feedback.previous_page_number }}">Previous</a></li>
                                        {% endif %}
                                        {% if feedback.has_next %}
                                        <li class="page-item"><a class="page-link bg-info text-white" href="?page={{ feedback.next_page_number }}">Next</a></li>
                                        <!-- <li class="page-item"><a class="page-link" href="?page={{ r.paginator.num_pages }}">Last &raquo;</a></li> -->
                                        {% endif %}
                                    </ul>
                                    Page {{ feedback.number }} of {{ feedback.paginator.num_pages }}.
                                  </nav>
                                </div>
                              </div>
                            </div>
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
          <footer class="footer">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
              <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © codebook.in 
                Distributed By <a href="https://codebook.in/" target="_blank">CodeBook</a></span>
              <!-- <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Free <a href="https://www.bootstrapdash.com/bootstrap-admin-template/" target="_blank">Bootstrap admin templates</a> from Bootstrapdash.com -->
                           
              </span>
            </div>
          </footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="{% static 'admin/vendors/js/vendor.bundle.base.js' %}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="{% static 'admin/vendors/chart.js/Chart.min.js' %}"></script>
    <script src="{% static 'admin/vendors/moment/moment.min.js' %}"></script>
    <script src="{% static 'admin/vendors/daterangepicker/daterangepicker.js' %}"></script>
    <script src="{% static 'admin/vendors/chartist/chartist.min.js' %}"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="{% static 'admin/js/off-canvas.js' %}"></script>
    <script src="{% static 'admin/js/misc.js' %}"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="{% static 'admin/js/dashboard.js' %}"></script>
    <!-- End custom js for this page -->
  </body>
</html>